<div class="sidenav">
    <a routerLink="/home">About</a>
    <a routerLink = "/employee" > Employee </a>
	<a routerLink = "/data">Data Trend</a>
	<a routerLink = "/logs">Log Files</a>
    <a (click)="signOut()"> Log Out</a>
</div>
  
<div class="loader" *ngIf="isLoading()"></div>
<div class="main" *ngIf="!isLoading()">
    <div class="search-hero">
	  <form>
	  <div class="row">
	  
        <div class="col-sm-8">       
			                              
			  
			  
			  <div [formGroup]="myGroup">
			    <select class="form-control" id="skill-1" formControlName="dropDownText" (change)="viewData()">
					<option *ngFor="let company of companies" [value]="company">{{company}}</option>
				</select>
				</div>
			  
			 
		</div>
		
		<div class="col-sm-2"></div>
		</div>
	  </form>
    </div>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Data Trend's</h2></div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
	<div class="chart-wrapper">
		<canvas baseChart 
			[datasets]="lineChartData" 
			[labels]="lineChartLabels" 
			[options]="lineChartOptions"
			[colors]="lineChartColors" 
			[legend]="lineChartLegend" 
			[chartType]="lineChartType" 
			[plugins]="lineChartPlugins">
		</canvas>
	</div>
	</div>
	</div>
	</div>
