
<div class="sidenav">
    <a routerLink="/home">About</a>
    <a routerLink = "/employee">Employee </a>
    <a routerLink = "/data">Data Trend</a>
    <a (click)="signOut()"> Log Out</a>
</div>
  
  <div class="main">
    <h2>About</h2>
    <p>This portal is used for employee management and to view data trends .</p>
    <h4>Employee Management</h4>
    <ul>
        <li>Used to create Employee</li>
        <li>Used to Edit Employee Details</li>
        <li>Used to view Employee Details</li>
        <li>Used to Delete Employee</li>
    </ul>
    <h4>Data Trends</h4>
    <ul>
        <li>Used to visualize trends according to location</li>
        <li>Used to visualize trends according to Hiring Manager</li>
        <li>Used to visualize trends according to </li>
        <li>Used to visualize trends according to </li>
    </ul>
    </div>